@forward 'reset';
@use 'mixins' as *;

$Yellow: hsl(47, 88%, 63%);

$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 50%);
$Black: hsl(0, 0%, 7%);

$font-size-sm: 1.4rem;
$font-size-base: 1.6rem;
$font-size-lg: 2.4rem;

$font-normal: 500;
$font-bold: 800;

$space: 1.2rem;

$radius: 1rem;

html {
  font-size: 62.5%;
}

body {
  @include fonts($font-size-base, $font-normal);
  background-color: $Yellow;
  line-height: 1.5;
}

.container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    max-width: 38.4rem;
    padding: calc($space * 2);
    background-color: $White;
    border-radius: calc($radius * 2);
    box-shadow: 8px 8px 0 0 rgb(0, 0, 0);
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: calc($space * 2);

    .blog-image {
      border-radius: $radius;
      overflow: hidden;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: $space;

      .metadata {
        display: flex;
        flex-direction: column;
        gap: $space;
        align-items: start;

        a:link,
        a:visited {
          @include fonts($font-size-sm, $font-bold);
          display: inline-block;
          background-color: $Yellow;
          text-decoration: none;
          color: $Black;
          padding: calc($space / 3) $space;
          border-radius: calc($space / 3);
        }

        .publishdate {
          @include fonts($font-size-sm, $font-normal);
          display: block;
        }
      }

      .title {
        @include fonts($font-size-lg, $font-bold);
        cursor: pointer;
      }

      .title:hover,
      .title:active {
        color: $Yellow;
      }

      .description {
        color: $Grey;
      }
    }

    .author {
      display: flex;
      gap: $space;
      align-items: center;

      img {
        width: 32px;
      }

      .authorname {
        @include fonts($font-size-sm, $font-bold);
      }
    }
  }
}

@media (width < 375px) {
  .container {
    min-width: 32.7rem;
  }
}
